#{extends 'main.html' /}
<!-- TODO this reload script sucks.... fix it-->
<br/><br/>
<h1 class="field">Waiting for opponent</h1>
<h2 class="field" id="status">...</h2>
<script type="text/javascript">
    (function check() {
      $.get('/game/hasstarted', function(data) {
        var started = (data == 'true');
        if (started) {
            window.location='/game/start';
        } else {
            var status = $('#status').html();
            if (status.length > 10) {
                status = '';
            }
            $('#status').html(status+".");
            setTimeout(check, 1000);
        }
      });
    })();
</script>
