<h1>&{'scoreboard.topscores'}</h1>
<br/>
#{if scores.size() > 0}
<table>
    #{list items:scores, as:'score'}
        <tr>
            <td class="name">
                #{if score.player.twitter != null}
                    ${score.player.twitter}
                #{/if}
                #{else}
                    ${score.player.name}
                #{/else}
            </td>
            <td class="points">
                ${score.numberOfPoints}
            </td>
        </tr>
    #{/list}
</table>
<br/>
#{/if}
