<h1>&{'scoreboard.topscores'}</h1>
<br/>
#{if scores.size() > 0}
<div class="scoreboard">
    #{list items:scores, as:'score'}
        <div class="score">
            <p class="name">
                #{if score.player.twitter != null}
                    ${score.player.twitter}
                #{/if}
                #{else}
                    ${score.player.name}
                #{/else}
            </p>
            <p class="points">
                ${score.numberOfPoints}
            </p>
        </div>
        <br />
    #{/list}
</div>
<br/>
#{/if}
