#{extends 'Admin/main.html' /}
<h2>Registred players</h2>
<br/>
#{if players.size() > 0}
<table >
    #{list items:players, as:'player'}
        <tr>
            <td>${player.name}</td>
            <td style="padding-left: 20px">${player.twitter}</td>
            <td style="padding-left: 20px">${player.email}</td>
        </tr>
    #{/list}
</table>
#{/if}
#{else}
    <div class="empty">
        There are currently no players registred.
    </div>
#{/else}
<br/><br/>
#{form @Admin.index()}
    <input type="submit" class="submit smallButton" value="Back" />
#{/form}