#{extends 'Admin/main.html' /}
<h2>Completed Games</h2>
<br/>
#{if games.size() > 0}
<table >
    #{list games, as:'game'}
        <tr>
            <td>${game.startTime?.format('yyyy-MM-dd hh:mm')} - ${game.stopTime?.format('hh:mm')}</td>
            #{list game.scores, as:'score'}
                <td style="padding-left: 20px">${score.player.twitter}</td>
                <td style="padding-left: 20px">${score.numberOfPoints}&nbsp;(${score.numberOfCorrectAnswers}/${score.numberOfAnswers})</td>
            #{/list}           
            <td style="padding-left: 20px">
                #{form @Admin.deleteGameRound()}
                    <input type="hidden" name="id" value="${game?.id}"/>
                    <input type="submit" class="submit smallButton" value="Delete" />
                #{/form}
            </td>
        </tr>
    #{/list}
</table>
#{/if}
#{else}
    <div class="empty">
        There are currently no game rounds in database.
    </div>
#{/else}
<br/><br/>
#{form @Admin.index()}
    <input type="submit" class="submit smallButton" value="Back" />
#{/form}
