* {
    border: 0;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    font-family: georgia, sans-serif;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-size: 11pt;
}

#header {
	margin-top: 50px;
        width: 800px;
	margin-left: auto ;
	margin-right: auto ;
}

#footer {
	font-size: 0.7em;
        width: 800px;
	margin-left: auto ;
	margin-right: auto ;
}


#mainBody {
        min-height:400px;
        height:auto !important;
        height:400px;
        width: 800px;
	margin-left: auto ;
	margin-right: auto ;
        padding: 10px;
        background-color: #000000;
        border: 2px solid #999999;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

#footer table,#header table {
    width: 100%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.error {
    color: rgb(255, 70, 74);
}

input {
    text-align: left;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.question {
    color: #d2d2d2;
    font-style: italic;
}

.answer {
    width: 500px;
    background-color: #222222;
    color: #00000;
    text-align: center;
    font-size: 22px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #111111;
}

.submit {
    color: #ffffff;
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #999999;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.infos {
    padding-left: 33%;
    padding-right: 33%;
}

