* {
    border: 0;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    font-family: georgia, sans-serif;
}

body {
    background-color: #000000;
    color: #dcecf9;
    font-size: 15pt;
    text-align: center;
}

a.nostyle {
    text-decoration: none;
    color: #dcecf9;
}

#header {
    margin-top: 50px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    font-size: 0.7em;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #cccccc;
}

#mainBody {
    min-height: 500px;
    height: auto !important;
    height: 500px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #000000;
    border: 2px solid #999999;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#footer table, #header table {
    width: 100%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.error {
    text-align: center;
    color: rgb(255, 70, 74);
    display: block;
}

.hasError {
    border-color: rgb(255, 70, 74);
    border-width: 2px;
}

label {
    margin-right: 20px;
    width: 50px;
    text-align: left;
}

input {
    text-align: left;
    font-size: 12pt;
    background-color: #ffffcc;
    border: 1px solid #999999;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.field {
    text-align: center;
    margin-top: 5px;
    white-space: nowrap;
}

.question {
    color: #d2d2d2;
    font-style: italic;
    text-align: center;
}

.answer {
    text-align: center;
}

.status {
    color: #D2D2D2;
    font-size: 1.5em;
    font-weight: bold;
}

.correct {
    float: left;
    display: inline;
    clear: none;
}

/*
.score {
    float: right;
    display: inline;
    clear: none;
    text-align: center;
    margin: 0 auto;
}
*/

.submit {
    width: 500px;
    background-color: #cccccc;
    color: #00000;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #999999;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.smallButton {
    width: auto;
    padding: 5px;
}

.infos {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 0.8em;
}

/*
.scoreboard {
    overflow: hidden;
    float : left;
    text-align: center;
}
*/

.name {
    width: 680px;
    text-align: left;
    margin-left: 50px;
}

.points {
    width: 100px;
    margin-right: 50px;
    text-align: right;
}

.bottombutton {
    margin-top: 165px;
}

#registerDetails {
    text-align: left;
}