#{extends 'main.html'/}
<br/>
<h1 class="question">${question.text}</h1>
<br/>
#{list items:questions.answers, as:'answer'}
    <div class="answer">
        <form action="@{Question.validate()}" method="GET">
            <input type="hidden" name="question" value="${question.id}"/>
            <input type="hidden" name="answer" value="${answer.id}"/>
            <input type="submit" class="submit" value="${answer.text}" />
        </form>
    </div>
#{/list}
<br/>
<div class="status">
    <div class="correct">${correct}</div>
    <div class="score">${score}</div>
    <br style="clear: both"/>
</div>