<!DOCTYPE html>
<html>
    <head>
        <title>Diabol Jfokus 2012 Quiz (#{get 'applicationName' /})</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <!--link rel="stylesheet" media="screen" href="../../public/stylesheets/main.css"-->
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/jquery.color.js'}"></script>
        <!--script src="@{'/public/javascripts/prototype.js'}" type="text/javascript"></script-->
        <!--script src="@{'/public/javascripts/scriptaculous.js'}" type="text/javascript"></script-->
        #{get 'moreScripts' /}
    </head>
    <body>
        <div id="header">
            <table>
                <tr>
                    <td class="left"><a href="http://www.diabol.se"><img id="logo-img" src="@{'/public/images/diabol-logo.jpg'}"/></a></td>
                    <td class="right"><a class="nostyle" href="${play.configuration.get("application.baseUrl")}"><h1>&{'application.name'}</h1></a></td>
                </tr>
            </table>
        </div>
        <div id="mainBody">
            #{doLayout /}
        </div>
        <div id="footer">
            <table>
                <tr>
                    <td class="left">&{'application.copyright'}</td>
                    <td class="right">version: ${play.configuration.get("application.version")}</td>
                </tr>
            </table>
        </div>
    </body>
</html>
