#{if text!=null}
    #{verbatim}
        ${text}
    #{/verbatim}
#{/if}
#{else}
<h1 class="welcome">Play our Jfokus game and have a chance to win an Ipad 2</h1>
<br/><br/><br/>
<p class="welcome">The Diabol quiz is a head to head game with multiple choice questions. Challenge a friend or just grab the person next to you and come play!</p>
<br/><br/><br/>
<p class="welcome">We built this game for self educational purposes, we all wanted to try out the Play framework, Git/GitHub and some other cool new stuff. We spent a couple of evenings at Diabol HQ and this is the result.</p>
<br/><br/><br/>
<p class="welcome">Game rules are simple and you can read them on the next slide.</p>
#{/else}