#{if config.rulesText!=null}
    #{verbatim}
        ${text}
    #{/verbatim}
#{/if}
#{else}
<h1 class="welcome">Play our Jfokus game and have a chance to win an Ipad 2!</h1>
<br/>
<h2 class="welcome">Game rules</h2>
<br/>
<p class="welcome">
Register with your email, name and nick or twitter.<br/>
Wait for your opponent to connect.<br/>
Answer as many questions as you can within ${config.gameSessionLength} seconds.<br/>
Correct answer increases your score by ${config.pointsForCorrectAnswer}.<br/>
Wrong answer decreases your score by ${config.pointsForInCorrectAnswer}.<br/>
The game winner is determined by the highest score and least wrong answers.<br/>
If there are muliple players with the same high score at the end of Jfokus, we will flip a coin to determine the final winner!<br/>
</p>
#{/else}